body{
    margin: 0px;
}

.navbar-inverse{
    background-color: #2196f3;
    color: lightgray;
    font-size: 14px;
    font-style: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica;
    height: 64px;
    display: block;
}

.nav-header{
    font-size: 28px;
    float: left;
    text-align: center;
    vertical-align: center;
    padding: 18px 25px;
}

.nav-element{
    color: white;
    text-decoration: none;
    padding: 25px 10px;
    display: block;
    float: left;
}

.nav-element{
    color: white;
    text-decoration: none;
    padding: 25px 10px;
    display: block;
    float: left;
}

.nav-element:hover{
    color:gray;
}

btn{
    cursor: pointer;
}

.panel {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
    margin-top: 20px;
}

.panel.panel-default .panel-heading {
    background-color: #2196f3;
    position: relative;
    padding: 10px;
    color: white;
}

.article-link{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.save{
    background-color: #439a46;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
    float: right;
    cursor: pointer;
}

.panel-body{
    padding: 10px;
    color: #666666
}

footer{
    width: 100%;
    color: lightgray;
    background-color: #2196f3;
    padding: 2px 25px;
    margin-top: 20px;
}