<!DOCTYPE html>
<html lang="en-US">

    <head>
        <link rel = "stylesheet" href = "index.css">
    </head>

    <body>
        <nav class = "navbar navbar-inverse">
            <div class = "container-fluid">
                <div class="nav-header">
                    Fake News
                </div>
                <div class = "nav navbar-nav">
                        <a class = "nav-element" href = '/home'>Home</a>
                        <a class = "nav-element" href = '/saved'>Saved</a>
                        <btn id = "scrape" class = "nav-element">Find Fake News Alert</btn>
                </div>
            </div>
        </nav>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a class="article-link" target="_blank" href="https://www.nytimes.com/2018/01/29/opinion/south-monuments-nashville.html">A Monument the Old South Would Like to Ignore</a>
                    <a class="btn btn-success save">Save Article</a>
                </h3>
            </div>
            <div class="panel-body">
                The debate over the fate of Nashville’s Fort Negley tests the traditional Southern argument for preserving history.
            </div>
        </div>

        <footer class="footer">
            <div class="container">
               <p>Fake News Mongo Scraper</p>
            </div>
        </footer>
    </body>

</html>